<form>
  <div class="mt-3">
    <label for="NombreMateria" class="form-label">Nombre: </label>
    <input name="nombreMateria" [(ngModel)]="nombreMateria" type="email" class="form-control" id="NombreMateria" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary mt-4" (click)="agregarMateria()" [disabled]="nombreMateria==''">{{titleButton}}</button><br/>
  <button type="submit" class="btn btn-primary mt-4" (click)="modificar()" *ngIf="modificarB">Modificar</button>
</form>

<div class="row">
  <table class="table mt-4">
    <thead>
        <tr>
          <th scope="col">ID Materia</th>
          <th scope="col">Nombre Materia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let materia of materias">
            <th scope="row">{{materia.idMateria}}</th>
            <td scope="row">{{materia.Nombre}}</td>
            <td>
              <button class="btn btn-warning m-1" (click)="mostrarButton(materia.idMateria,materia.Nombre)">Modificar</button>
              <button class="btn btn-danger m-1" (click)="eliminar(materia.idMateria)">Eliminar</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
